<mat-toolbar class="d-flex justify-content-between">

    <button mat-icon-button class="logo-btn width-fit height-fit transparent">
        <mat-icon svgIcon="logo"></mat-icon>
    </button>
    <div class="nav-btns">
        <button mat-icon-button color="silver" class="nav-btn  transparent">
            <mat-icon fontSet="material-icons-outlined">search</mat-icon>
        </button>
        <button mat-icon-button color="silver" class="nav-btn transparent">
            <mat-icon fontSet="material-icons-outlined">notifications</mat-icon>
        </button>
        <button mat-icon-button color="silver" class="nav-btn transparent">
            <mat-icon fontSet="material-icons-outlined">person</mat-icon>
        </button>
    </div>

</mat-toolbar>