@import url("assets/fonts/stylesheet.css");

@font-face {
    font-weight: normal;
    font-style: normal;
    font-family: 'STCForward-Regular';
    font-display: auto;
    src: local('STCForward-Regular'), url('assets/fonts/STCForward-Regular.woff') format('woff')
}

html,
body {
    height: 100%;
}

*:not(mat-icon) {
    margin: 0;
    font-family: STCForward-Regular !important;

}





* {
    font-family: STCForward;
}

.mat-success {
    color: var(--success);
}

.mat-silver {
    color: var(--silver);
}

.mat-light {
    color: var(--light);
}

.mat-dark {
    color: var(--dark);
}

.mat-yellow {
    color: var(--yellow);
}

.mat-warning {
    color: var (--warning);
}

.mat-danger {
    color: var (--danger);
}

.mat-cyan {
    color: var(--cyan);
}

.mat-primary {
    color: var(--primary);
}

.mat-secondary {
    color: var(--secondary);
}

.width-fit {
    width: fit-content;
}

.height-fit {
    height: fit-content;
}

.transparent {
    background-color: transparent;
}

.no-margin {
    margin: 0 !important;
}

.margin-inline-start-32 {
    margin-inline-start: 32px !important;
}

.padding-inline-end {
    padding-inline-end: 10px;
}

.padding-inline-start {
    padding-inline-start: 10px;
}

.fit-content {
    height: fit-content;
    width: fit-content;
}

.bold {
    font-weight: bold;
}

.margin-vertical {
    margin-block: 16px;
}

.margin-horizontal {
    margin-inline: 16px;
}

.padding-vertical {
    padding-block: 16px;
}

.padding-horizontal {
    padding-inline: 16px;
}

.tab-content {
    background-color: var(--secondary);
    width: 100px;
    height: 100px;
}

.no-padding {
    padding: 0 !important;
}

mat-expansion-panel {
    width: 300px;

    .mat-expansion-panel-header {
        padding-inline: 16px;
    }
}

.big-square {
    width: 100%;
    height: 600px;
    overflow: scroll;
}